<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="mobile=no">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1339098_stmuw9ex2rh.css" type="text/css" media="all">
<script src="<%= htmlWebpackPlugin.files.chunks['base_css'].entry %>"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
<script src="<%= htmlWebpackPlugin.files.chunks['main'].entry %>"></script>
