@charset "utf-8";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	/* box-shadow:0 0 0 60px #eee inset;
	 * -webkit-text-fill-color: red; */
-webkit-transition-delay: 99999s;
-webkit-transition: color 99999s ease-out, background-color 99999s ease-out;

}
*{ box-sizing: border-box; -webkit-box-sizing: -webkit-border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{padding:0;margin:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*for ios*/
html{ 
	background: #f8f8f8; 
	height: 100%;
	body{
		height: 100%;
	}
	&.common-bg-null{
		background: none;
		body{
			background: none;
		}
	}
	&.common-bg-white{
		background: #fff;
		body{
			background: #fff;
		}
	}
	&.common-bg-gray{
		background: #f9f9f9;
		body{
			background: #f9f9f9;
		}
	}
}
html,body{-webkit-touch-callout:none;/*user-select:none;*/min-width:100%;/*min-height:100%;*/margin:0 auto;font-size:32px;font-family: "Heiti SC Medium","Helvetica Neue",Helvetica, STHeiTi,sans-serif,Microsoft YaHei;}
html{/*height:100%;*/box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;width:100%;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i,b,strong{font-style:normal;font-weight:normal;}
img{border:0;}
body,div,span,input,select,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;}
input:focus,select:focus,textarea:focus{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;}
select{ border: 0 none; outline: 0; background: transparent; color: #999}
select:invalid { color: gray; }
a,a:hover,a:active,a:focus{text-decoration:none !important;}
a,img{-webkit-touch-callout:none; outline: none; /* 禁止长按链接与图片弹出菜单 */}
body{ color:#333333; background:none;position:relative;-webkit-backface-visibility:hidden;backface-visibility:hidden;/*height:100%;*/width:100%;}
.clear_fix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear_fix{display: inline-table;}/* Hides from IE-mac \*/
* html .clear_fix{height: 1%;}
.clear_fix{display: block;}/* End hide from IE-mac */
button{ border: 0 none; padding: 0; outline: none}
input[type="date"]{-webkit-appearance:none;}


input-placeholder { color: #b6b6b6; }
::-webkit-input-placeholder { color: #b6b6b6; }
